body {
	font-size: 16px;
	color: #fff;
	background-color: #F0F8FF;
	overflow-x: hidden;
}
#header-nav{
	background-color: #D6A3CD;
	border-radius: 0;
	border: 0;
	height: 80px;
}
#navbar-brand{
	padding-top: 25px;
}
.navbar-brand h1 {
	font-family: Candara;
	color: #FFFAF0;
	font-size: 1.8em;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 0;
	line-height: .75;
	text-shadow: 0 0 3px #FFF8DC;
}
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}
#nav-list {
	margin-top: 10px;
	text-align: center;
}
#nav-list a {
	color: #48887B;
	text-align: center;
	font-size: 20px;
	background-color: #D6A3CD;
}
#nav-list a:hover {
	background: #F0F8FF;
}
.navbar-header button.navbar-toggle, navbar-header .icon-bar {
	border: 1px solid white;
}
.navbar-header button.navbar-toggle {
	clear: both;
    margin-top: -15px;
}
section {
	position: relative;
	background-color: #5A8A81;
	border: 3px solid #48887B;
	margin: 19px;

}

p {
	display: block;
	color: black;
	margin-block-start:2em;
    margin-block-end: 2em;
    margin-inline-start: 2px;
    margin-inline-end: 1px;
    padding-right: 10px;
    padding-left: 10px;
    font-family: Geneva;
}
h3 {
	text-align: center;
}
h1 {
	text-align: center;
	color: #748F8B;
	font-size: 35px;
	margin-bottom: 8px;
	margin-top: 13px;
}
#back2Top {
	color: #0000CD;
}

@media (min-width: 1200px) {
	
	}
@media (min-width: 992px) and (max-width: 1199px) {
	 section {
	position: relative;
	background-color: #5A8A81;
	border: 3px solid #48887B;
	margin: 55px;
	margin-left: 40px;
	margin-right: 40px;
}
 body {
 	overflow: hidden;
 }
 h3 {
 	font-size:25px;
 }

   }

@media (min-width: 768px) and (max-width: 991px) {
	section {
	position: relative;
	background-color: #5A8A81;
	border: 3px solid #48887B;
	margin: 60px;
	margin-left: 60px;
	margin-right: 70px;
}


}
@media (max-width: 767px) {
	.navbar-brand {
	padding-top: 10px;
	height: 80px;
	}
	.navbar-brand h1 {
		padding-top: 10px;
		font-size: 5vw;
	}
	.navbar-brand p {
		text-transform: uppercase;
		font-size: .6em;
		margin-top: 12px;
	}
	section {
	position: relative;
	background-color: #5A8A81;
	border: 3px solid #48887B;
	margin: 55px;
	margin-left: 60px;
	margin-right: 70px;
}
h1 {
	padding-top: 30px;
}
	@media (max-width: 479px) {
	.navbar-brand h1 {
		padding-top: 5px;
		font-size: 6vw;
	}
